
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 11px;
}

.table th, .table td {
    padding: 4px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #DDD;
}

label, input, button, select, textarea {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}

hr {
    margin: 4px 0 10px 0;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: 11px;
    height: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}

select {
    padding: 0;
    height: 25px;
}

.btn-mini {
    padding: 1px 4px;
    font-size: 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

[class^="icon-"], [class*=" icon-"] {
    margin-top: -1px;
}

pre {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.row-fluid {
    line-height: 0;
}

.btn-group>.btn, .btn-group>.dropdown-menu {
    font-size: 11px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
