.ddchart-ui-widget-content, .ddchart-x-axis-title {margin-top: 0.55em; border: 1px solid #2E7190; padding-bottom: 0.25em; background: #fcfdfd; color: #222222;}
.ddchart-ui-state-default, .ddchart-ui-widget-content .ddchart-ui-state-default {border: 1px solid #2E7190; background: #2E7190; font-weight: bold; color: #ffffff;}
.ddchart-ui-state-hover, .ddchart-ui-widget-content .ddchart-ui-state-hover, .ui-state-focus, .ddchart-ui-widget-content .ui-state-focus {border: 1px solid #7698A9; background: #5BB25E; font-weight: bold; color: #026890;}
.ddchart-ui-state-active, .ddchart-ui-widget-content .ddchart-ui-state-active {border: 1px solid #04456C; background: #04456C; font-weight: bold; color: #ffffff;}
.ddchart-ui-state-highlight, .ddchart-ui-widget-content .ddchart-ui-state-highlight {border: 1px solid #fcd113; background: #F8DA4E; color: #915608;}

.ddchart-x-axis-wrapper {height: 2em;}
.ddchart-x-axis-wrapper-sub {height: 1.5em;}
.ddchart-x-axis-label {height: 1.15em; top: 1.15em;}

.ddchart-ui-widget-content, .ddchart-x-axis-wrapper-sub, .ddchart-y-axis, .ddchart-x-axis-title {font-size: 58%}

.ddchart-x-axis-wrapper, .ddchart-chart-wrapper {left: 14%; margin-left: 1px; width: 85%;}
.ddchart-y-axis-wrapper {left: 4%; width: 10%}
.ddchart-y-axis-wrapper, .ddchart-y-axis-label {height: 90%;}

.ddchart-y-axis-label {position: absolute; top: -2px; left: 0%; border: 1px solid #2E7190; width: 4%; background: #FFFFFF;}
.ddchart-y-axis-label div {color: #222222; text-align: center; font-size: 59%; font-weight: bold}

.ddchart-zoom {position: absolute; top: 90%; left: 0%; width: 14%; height: 10%; text-align: center;}
.ddchart-zoom a {display: block; padding: 0.25em 0;}
.ddchart-zoom a:hover {background: #F8DA4E;}
.ddchart-zoom img {border: 0;}