#log-table_filter {
    display: none;
}

label {
    display: block;
    float: left;
    width: 75px;
    text-align: right;
    vertical-align: central;
    padding: 6px 0px 6px 0px;
}

fieldset div {
    overflow: auto;
}

input, select {
    display: block;
    float: left;
}